node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal


# remix-request-form
*.log
.DS_Store
/.cache
*.css.map
/storybook-static
package-lock.json
yarn.lock
*.css